<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConString" connectionString="server=localhost;port=3306;database=construction;uid=root;password=;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8" tempDirectory=""/>
  </system.web>
  <appSettings>
    <add key="MERCHANT_KEY" value="4rSUUA"/>
    <add key="SALT" value="UOssuafMZyn3LqkKnCwKyGBLG94uY6kj"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="aarvinfotech@gmail.com"/>
    <add key="Pass" value="aarv2009#"/>
    <add key="Port" value="587"/>
    <!-- Message sending details-->
    <add key="senderId" value="MAHVVS"/>
    <add key="userID" value="GauravPatil493"/>
    <add key="password" value="123456"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/MintFDI" value="63974;True;7460;1;-8587077108414316115"/>
  </appSettings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>